/* Add CSS Styling */
.odd {
    background-color: rgb(221, 145, 157);
    font: "Verdana", "DejaVu Sans", sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}